*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

header{
    color: #567DE8;
    padding: 30px;
    text-align: center;
}

.kanban-top{
    text-align: center;
    padding: 20px 0;
}

#taskInput{
    height: 50px;
    width: 60%;
    max-width: 400px;
    border: 2px solid #567DE8;
    border-radius: 5px;
    color: #828AFA;
    padding: 0 10px;
    font-size: 15px;
    margin-right: 10px;
}

#taskInput::placeholder{
    color: #828AFA;
}

.btn-main{
    height: 50px;
    width: 120px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #6a95f0;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.clear-btn{
    background-color: #f05757;
}

.kanban{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    padding: 24px;
    width: 100%;
    height: 100vh;
    overflow-x: auto;
}

.kanban-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 12px;
    padding: 12px;
    position: relative;
    min-width: 252px;
    flex-shrink: 0;
    background-color:#faf8f8;
}

.kanban-title h2{
    font-size: 18px;
    font-weight: 600;
}

.kanban-column[data-id="1"]{
    color: #f05757;
}

.kanban-column[data-id="2"]{
    color: #6157f0;
}

.kanban-column[data-id="3"]{
    color: #57f064;
}

.kanban-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    margin-top: 20px;
}

.kanban-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0px 5px 5px -3px rgb(0,0,0,0.1);
    cursor: grab;
    font-size: 14px;
    word-wrap: break-word;
}

.kanban-card span {
    flex-grow: 1;
}

.btn-del {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.btn-del:hover {
    opacity: 1;
}

.dragging{
    opacity: 0.4;
    cursor: grabbing;
    transform: rotate(2deg);
}

@media (max-width: 768px) {
    
    .kanban {
        flex-direction: column; 
        width: 100%; 
        height: 100%; 
        overflow-x: hidden; 
        padding: 10px;
    }

    .kanban-column {
        min-width: 100%; 
        margin-bottom: 20px; 
        min-heigth:100vh;
    }
    
    .kanban-cards {
        height: auto; 
        max-height: 400px;
    }
    .kanban-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    #taskInput {
        width: 90%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .btn-main {
        width: 45%; 
        margin-left: 5px;
        margin-right: 5px;
    }

}
